@page "/chats"

<div class="main-container">
    <div class="chats-container">
        <button class="text-container chat-container">First chat</button>
    </div>
    <div class="chat-data-container">
        <div class="messages-container">
            <div class="text-container message-container">
                <p class="author-text">Ilya</p>
                <p class="message-text">Some</p>
            </div>
            <div class="text-container message-container user-message">
                <p class="message-text">Some</p>
            </div>
            <div class="text-container message-container user-message">
                <p class="message-text">Some</p>
            </div><div class="text-container message-container user-message">
                <p class="message-text">Some</p>
            </div><div class="text-container message-container user-message">
                <p class="message-text">Some</p>
            </div><div class="text-container message-container user-message">
                <p class="message-text">Some</p>
            </div><div class="text-container message-container user-message">
                <p class="message-text">Some</p>
            </div><div class="text-container message-container user-message">
                <p class="message-text">Some</p>
            </div><div class="text-container message-container user-message">
                <p class="message-text">Some</p>
            </div><div class="text-container message-container user-message">
                <p class="message-text">Some</p>
            </div><div class="text-container message-container user-message">
                <p class="message-text">Some</p>
            </div><div class="text-container message-container user-message">
                <p class="message-text">Some</p>
            </div><div class="text-container message-container user-message">
                <p class="message-text">Some</p>
            </div><div class="text-container message-container user-message">
                <p class="message-text">Some</p>
            </div><div class="text-container message-container user-message">
                <p class="message-text">Some</p>
            </div><div class="text-container message-container user-message">
                <p class="message-text">Some</p>
            </div>
        </div>
        <div class="input-message-container">
            <input class="field-input" />
            <button class="text-container">Отправить</button>
        </div>
    </div>
</div>