@page "/chats"
@inject NavigationManager NavigationManager
@inject IAuthHttpClient AuthHttpClient
@inject IUserAuthorizer UserAuthorizer

<div class="main-container">
    <div class="chats-container">
        @if (CurrentUser != null)
        {
            <UserAccountComponent UserName="@CurrentUser.NickName" OnSignOutButtonClickCallback="SignOutUserAsync" />
            <ChatFinderComponent OnCreateChatCallback="CreateNewChatAsync" OnJoinToChatCallback="JoinToChatByNameAsync" />

            @foreach (var chat in CurrentUser.Chats)
            {
                <ChatComponent ChatData="chat" OnClickCallback="ChangeCurrentChatAsync" />
            }
        }
    </div>
    <div class="chat-data-container">
        @if (CurrentChat != null && CurrentUser != null)
        {
            <div class="messages-container">
                @if (CurrentChat.Posts != null)
                {
                    foreach (var post in CurrentChat.Posts)
                    {
                        if (post.UserId != CurrentUser.Id)
                        {
                            <InputMessageComponent AuthorName="@post.User.NickName" Content="@post.Content" />
                        }
                        else
                        {
                            <OutputMessageComponent Content="@post.Content" />
                        }
                    }
                }
            </div>
            <InputFieldComponent OnMessageEnteredCallback="SendMessageAsync" />
        }
    </div>
</div>

@code {
    public User? CurrentUser = null;
    public Chat? CurrentChat = null;

    protected override async Task OnInitializedAsync()
    {
        if (await AuthHttpClient.IsAuthorizeAsync() == false)
        {
            NavigationManager.NavigateTo("login");
            return;
        }

        CurrentUser = await AuthHttpClient.GetAsync<User>("users/current-user");
        if (CurrentUser == null)
        {
            NavigationManager.NavigateTo("login");
            return;
        }
    }

    public async Task SignOutUserAsync()
    {
        await UserAuthorizer.SignOutUserAsync();
        NavigationManager.NavigateTo("login");
    }

    public async Task ChangeCurrentChatAsync(Chat newCurrentChat)
    {
        CurrentChat = newCurrentChat;
        await UpdateCurrentChatPosts();
    }

    public async Task SendMessageAsync(string messageContent)
    {
        if (CurrentUser == null || CurrentChat == null)
            return;

        var post = new Post
        {
            Content = messageContent,
            UserId = CurrentUser.Id,
            ChatId = CurrentChat.Id
        };
        await AuthHttpClient.SendAsync("posts", post);
        await UpdateCurrentChatPosts();
    }

    public async Task CreateNewChatAsync(string chatName)
    {
        var chat = new Chat
        {
            Name = chatName
        };
        var response = await AuthHttpClient.SendAsync("chats", chat);
        if (response.StatusCode == HttpStatusCode.BadRequest)
            return;

        var createdChat = await response.Content.ReadFromJsonAsync<Chat>();
        await JoinToChatAsync(createdChat);
    }

    public async Task JoinToChatAsync(Chat chatToJoin)
    {
        if (CurrentUser == null || chatToJoin == null)
            return;

        var chatsUsers = new ChatsUsers
        {
            ChatId = chatToJoin.Id,
            UserId = CurrentUser.Id
        };

        await AuthHttpClient.SendAsync("chats-users", chatsUsers);
        await UpdateCurrentUserChats();
    }

    public async Task JoinToChatByNameAsync(string chatName)
    {
        var chat = await AuthHttpClient.GetAsync<Chat>($"chats/{chatName}");
        if (chat != null)
            await JoinToChatAsync(chat);
    }

    private async Task UpdateCurrentChatPosts()
    {
        CurrentChat.Posts = await AuthHttpClient.GetAsync<List<Post>>($"posts/?chatId={CurrentChat.Id}");
    }

    private async Task UpdateCurrentUserChats()
    {
        CurrentUser.Chats = await AuthHttpClient.GetAsync<List<Chat>>("chats/current-user");
    }
}
