@page "/chats"
@inject NavigationManager NavigationManager
@inject IAuthHttpClient AuthHttpClient

<div class="main-container">
    <div class="chats-container">
        <ChatComponent />
    </div>
    <div class="chat-data-container">
        <div class="messages-container">
            <InputMessageComponent />
            <InputMessageComponent />
            <OutputMessageComponent />
            <OutputMessageComponent />
            <OutputMessageComponent />
        </div>
        <InputFieldComponent />
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var allChats = await AuthHttpClient.GetAsync<List<Chat>>($"api/chats/?userId={1}");
            Console.WriteLine("AllChats: " + allChats);
        }
        catch (UnauthorizedAccessException)
        {
            NavigationManager.NavigateTo("unauthorized");
        }
    }
}
