@page "/chats"

<div class="main-container">
    <div class="chats-container">
        <ChatComponent />
    </div>
    <div class="chat-data-container">
        <div class="messages-container">
            <InputMessageComponent />
            <InputMessageComponent />
            <OutputMessageComponent />
            <OutputMessageComponent />
            <OutputMessageComponent />
        </div>
        <InputFieldComponent />
    </div>
</div>