@page "/chats"

<AuthorizeView>
    <Authorized>
        <div class="main-container">
            <div class="chats-container">
                <ChatComponent />
            </div>
            <div class="chat-data-container">
                <div class="messages-container">
                    <InputMessageComponent />
                    <InputMessageComponent />
                    <OutputMessageComponent />
                    <OutputMessageComponent />
                    <OutputMessageComponent />
                </div>
                <InputFieldComponent />
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <h1>Oops, you must authorize!</h1>
    </NotAuthorized>
</AuthorizeView>