@page "/chats"
@inject NavigationManager NavigationManager
@inject IAuthHttpClient AuthHttpClient
@inject IUserAuthorizer UserAuthorizer

<div class="main-container">
    <div class="chats-container">
        @if (User != null)
        {
            <UserAccountComponent UserName="@User.NickName" OnSignOutButtonClickCallback="SignOutUserAsync" />
            <ChatFinderComponent />
        }
        @if (UserChats != null)
        {
            foreach (Chat chat in UserChats)
            {
                <ChatComponent ChatData="chat" OnClickCallback="GetPostsInChat" />
            }
        }
    </div>
    <div class="chat-data-container">
        <div class="messages-container">
            @if (CurrentPosts != null)
            {
                foreach (Post post in CurrentPosts)
                {
                    if (post.UserId != User.Id)
                    {
                        <InputMessageComponent AuthorName="@post.User.NickName" Content="@post.Content" />
                    }
                    else
                    {
                        <OutputMessageComponent Content="@post.Content" />
                    }
                }
            }
        </div>
        <InputFieldComponent />
    </div>
</div>

@code {
    public List<Chat> UserChats = new List<Chat>();
    public List<Post> CurrentPosts = new List<Post>();
    public User? User = null;

    protected override async Task OnInitializedAsync()
    {
        if (await AuthHttpClient.IsAuthorize() == false)
        {
            NavigationManager.NavigateTo("login");
            return;
        }

        User = await AuthHttpClient.GetAsync<User>("users/current-user");
        UserChats = await AuthHttpClient.GetAsync<List<Chat>>("chats/current-user");
    }

    private async Task GetPostsInChat(int chatId)
    {
        CurrentPosts = await AuthHttpClient.GetAsync<List<Post>>($"posts/?chatId={chatId}");
        if (CurrentPosts == null)
            return;

        for (int i = 0; i < CurrentPosts.Count; i++)
        {
            var userInPost = await AuthHttpClient.GetAsync<User>($"users/{CurrentPosts[i].UserId}");
            CurrentPosts[i].User = userInPost;
        }
    }

    private async Task SignOutUserAsync()
    {
        await UserAuthorizer.SignOutUserAsync();
        NavigationManager.NavigateTo("login");
    }
}
