@page "/chats"
@inject NavigationManager NavigationManager
@inject IAuthHttpClient AuthHttpClient

<div class="main-container">
    <div class="chats-container">
        <ChatComponent />
    </div>
    <div class="chat-data-container">
        <div class="messages-container">
            <InputMessageComponent />
            <InputMessageComponent />
            <OutputMessageComponent />
            <OutputMessageComponent />
            <OutputMessageComponent />
        </div>
        <InputFieldComponent />
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await AuthHttpClient.GetAsync<string>("auth/ping");
        }
        catch (UnauthorizedAccessException)
        {
            NavigationManager.NavigateTo("login");
        }
    }
}
