@page "/chats"
@using System.Security.Claims;
@inject NavigationManager NavigationManager
@inject IAuthHttpClient AuthHttpClient
@inject IUserDataReader UserDataReader

<div class="main-container">
    <div class="chats-container">
        <ChatComponent />
    </div>
    <div class="chat-data-container">
        <div class="messages-container">
            <InputMessageComponent />
            <InputMessageComponent />
            <OutputMessageComponent />
            <OutputMessageComponent />
            <OutputMessageComponent />
        </div>
        <InputFieldComponent />
    </div>
</div>

@code {
    private int? _userId = null;

    protected override async Task OnInitializedAsync()
    {
        await SetUserIdAsync();
    }

    private async Task SetUserIdAsync()
    {
        try
        {
            var claims = await UserDataReader.ReadUserDataAsync();
            _userId = int.Parse(claims.First(c => c.Type == ClaimTypes.NameIdentifier.ToString()).Value);
        }
        catch (UnauthorizedAccessException)
        {
            NavigationManager.NavigateTo("login");
        }
    }
}
