@page "/login"

<div class="main-container main-login-container">
    <div class="text-container login-form">
        <p class="title-text">Войти в аккаунт</p>
        <div class="field-containers">
            <div class="field-container">
                <p class="field-name">Логин</p>
                <input class="field-input"/>
            </div>
            <div class="field-container">
                <p class="field-name">Пароль</p>
                <input class="field-input" />
            </div>
        </div>
        <div class="login-buttons">
            <button class="text-container login-button">Войти</button>
            <p class="registration-text">Зарегестрироваться</p>
        </div>
    </div>
</div>
