.main-login-container {
    display: flex;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    width: 300px;
    aspect-ratio: 4/3.5;
}

.title-text {
    align-self: center;
    font-size: 1.2em;
    margin: 0;
}

.field-containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.field-container {
    display: flex;
    flex-direction: column;
}

.field-name {
    font-size: 1em;
    margin: 3px;
}

.field-input {
    font-size: 0.7em;
    background-color: black;
    color: lightgreen;
    border: 2px solid green;
}

.login-buttons {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
}

.login-button {
    align-self: center;
    font-size: 0.6em;
    cursor: pointer;
    width: 50%;
    aspect-ratio: 1/0.2;
    margin: 0;
}

.registration-text {
    font-size: 0.6em;
    align-self: center;
    margin: 3px 0 3px 0;
    cursor: pointer;
}