@page "/registration"

<div class="main-container main-login-container">
    <div class="text-container login-form">
        <p class="title-text">Зарегестрироваться на сайте</p>
        <div class="field-containers">
            <div class="field-container">
                <p class="field-name">Логин</p>
                <input class="field-input" />
            </div>
            <div class="field-container">
                <p class="field-name">Пароль</p>
                <input class="field-input" type="password" />
            </div>
            <div class="field-container">
                <p class="field-name">Подтверждение пароля</p>
                <input class="field-input" type="password" />
            </div>
        </div>
        <button class="text-container login-button">Зарегестрироваться</button>
    </div>
</div>