<button class="text-container chat-container" @onclick="OnClicked">@ChatData.Name</button>

@code {
    [Parameter]
    public Chat ChatData { get; set; }
    [Parameter]
    public EventCallback<Chat> OnClickCallback { get; set; }

    private async Task OnClicked()
    {
        await OnClickCallback.InvokeAsync(ChatData);
    }
}